{{!< layout}}

        <!-- the Javascript file js/addon.js is imported in the layout -->
        <!-- It contains functions which execute actions for buttons/links in this page -->

<section class="aui-connect-page" role="main">
  <section class="aui-connect-content">
    {{dataStr}}
  </section>

</section>
{{!--<footer class="aui-connect-footer">
  
</footer>--}}
{{!--<script src="/js/sidebar-page-switcher.js"></script>--}}
